.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #505050;
  min-height: 100vh;
}
h1 {
  color: white;
}
.list {
  width: 70%;
  background-color: #282828;
  border-radius: 10px;
  overflow: hidden;
}
